<h1 class="bg-primary text-white mp-4 text-center"> Let's Start your Shopping here !</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <!-- <button class="btn btn-primary">click!</button>
      <hr> -->
      <app-product></app-product>
      
      
      
      <!-- <app-shivani></app-shivani> -->
      <!-- <hr>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let skill of skills">
          i love {{skill}}

        </li>
      </ul> -->
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      
      <!-- <app-skillsets></app-skillsets> -->

    </div>
  </div>
</div>

