
<!-- 1.event binding -->

<!-- <div class="form-group">
    <label for="">Product Search</label>
    <input type="text" class="form-control mb-4" (input)="onProductSearch($event)" >
</div> -->

<!-- 2. two way data binding -->

<!-- <div  > -->
<div >
    <div class="form-group">
        <label for="">Product Search</label>
        <input type="text" class="form-control mb-4" [(ngModel)] = "searchProductName" >
        <span *ngIf="isProductavailable" [ngStyle]="{backgroundColor : getBgColor()}"> Please wait, we are redirecting your request </span>
    </div>
    <p class="text-muted" [innerHTML]="searchProductName" >
       
    </p>
    
    <button class="btn btn-primary mb-4" [disabled]="isDisabled" (click)="getProductStatus()">Add to Cart </button>
    <button class="btn btn-primary mb-4 float-right" [disabled]="isDisabledremove" (click)="removeProductStatus()">Remove </button>
    
    <p class="alert alert-info">
       <span  [ngClass]="{
        'mb-12' : !isDisabled,
        'text-white' : !isProductavailable
       }"> {{productStatus}}</span> 
    </p>
    
    <button class="btn btn-danger mb-4 float-right" [disabled]="isDisableddelete" (click)="emptyProductStatus()"> Empty </button>
    
</div>